$font-stack: Helvetica, sans-serif;
$primary-color: #aaa;

$blue: #0A1172;
$purple: #190230;
$yellow: #FDF584;

$b-black: 2px solid black;
$b-purple: 2px solid $purple;
$b-white: 2px solid white;


* {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
	margin: 0;
}

body {
	width: 100%;
	height: 100%;
	margin: auto;
	font: 100% $font-stack;
	color: white;
	background-color: $blue;
}

div.main-content {
	-webkit-padding-start: 40px;
}

button {
  margin-right: 5px;
  font-size: 12px;
  color: white;
  text-align: center;
  background: #3498db;
  border: 0;
  cursor: pointer;
}

button:focus {
  outline: none;
  border-color: #53C1DE;
  box-shadow: 0 0 10px #53C1DE;
}

input {
  height: 20px;
  border: 1px;
  padding: 0px 10px;
}

input[type='checkbox'] {
  position: relative;
  top: 3px;
}

input:focus {
  outline: none;
  border-color: #53C1DE;
  box-shadow: 0 0 10px #53C1DE;
}

label {
  line-height: 25px;
}

.center {
	text-align: center;
}

.white {
	color: white;
}

.yellow {
	color: $yellow;
}

.bg-blue {
	background-color: $blue;
}

.bg-purple {
	background-color: $purple;
}

.bg-white {
	background-color: white;
}

.b-black {
	border: $b-black;
}

.b-purple {
	border: $b-purple;
}

.b-white {
	border: $b-white;
}

.bt-black {
	border-top: $b-black;
}

.br-black {
	border-right: $b-black;
}

.bl-black {
	border-left: $b-black;
}

.bb-black {
	border-bottom: $b-black;
}

.bt-purple {
	border-top: $b-purple;
}

.br-purple {
	border-right: $b-purple;
}

.bl-purple {
	border-left: $b-purple;
}

.bb-purple {
	border-bottom: $b-purple;
}

.bt-white {
	border-top: $b-white;
}

.br-white {
	border-right: $b-white;
}

.bl-white {
	border-left: $b-white;
}

.bb-white {
	border-bottom: $b-white;
}
